<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.username %>:</h1>
    <p><%= @from_user.username %> is interested in jamming!</p>
    <p>Their email is: <%= @from_user.email %> if you'd like to contact them. Alternatively, you can find them here <a href="https://patchcord.herokuapp.com/users/<%= @from_user.id %>"></a></p>
    <p>Have a nice day!</p>
    <p>The team at PatchCord.</p>
  </body>
</html>
