===============================================

Hi, <%= @user.username %>:
<%= @from_user.username %> is interested in jamming!
Their email is: <%= @from_user.email %> if you'd like to contact them. Alternatively, you can find them here <a href="#"></a>

Have a nice day!

The team at PatchCord.
