<div class="add_resources">
  <select>
    <option value="youtube">YouTube</option>
    <option value="soundcloud">SoundCloud</option>
    <option value="image">Image</option>
  </select>
  <div><%= text_field :media_resources, size: "300x1", placeholder: "Copy and paste here:" %></div>
</div>
  <button class="media_resources">Add One</button>
