 <select>
    <option value="youtube">YouTube</option>
    <option value="soundcloud">SoundCloud</option>
    <option value="image">Image</option>
  </select>
  <div><%= text_area :media_resources, size: "60x1", placeholder: "Copy and paste here:" %></div>