<% if !@musicians.empty? %>
<h4><%= @musicians.count  %> <%= @musicians.count > 1 ? "results:" : "result:" %></h4>
  <div>
    <h4>Musicians</h4>
    <ol>
      <% @musicians.each do |musician| %>
      <li><%= musician.username %></li>
      <% end %>
    </ol>
  </div>
  <div>
    <%= link_to "Home", root_path %>
  </div>
<% else %>
  <h4>Sorry, there are no results that match that query.</h4>
<% end %>

