<div class="container">
  <h1 align="center">List of Bands</h1>
  <table border="1" style="width:85%" align="center">
    <colgroup>
      <col style="width: 25%; background-color:lightblue"  align="center">
      <col style="background-color:lightgrey">
    </colgroup>
    <tr>
    <th style="background-color:grey">Band: </th>
    <th style="background-color:grey">Genre: </th>
    <th style="background-color:grey">Members: </th>
    <th style="background-color:grey">Bio: </th>
    </tr>
    <% @bands.each do |band| %>
    <tr>
      <td align="center" style="height: 30px"><%= band.name %></td>
      <td align="center">
        <% band.genres.each do |genre| %>
           <%= genre.name %>
        <% end %>
      </td>
      <td align="center">
      <% band.users.each do |user| %>
      <%= user.username %>,
      <% end %>
      </td>
      <td><%= band.bio %></td>
    </tr>
    <% end %>
  </table>
</div>



