<div class="container">
  <%= form_for @band do |f| %>
    <div><%= f.text_field :name, size: "61", placeholder: "What the name of your band?" %></div>

    <div><%= f.text_area :bio, size: "60x5", maxlength: 350, placeholder: "Please Tell Us About your Band! Limit 350 characters" %></div>
    <div><%= f.submit "Create" %></div>
  <% end %>
</div>
