 @import "bootstrap-sprockets";
 @import "bootstrap";

.page-notice {
  background-color: gray;
  text-align: center;
}

.original-homepage {
  padding-left: 3em;
  padding-right: 3em;
}

#musician-search-genre {
  padding-left: 3em;
  padding-right: 3em;
}

#musicians-instruments-search {
  padding-left: 3em;
  padding-right: 3em;
}

#musicians-location {
  padding-left: 3em;
  padding-right: 3em;
}

#bands-location {
  padding-left: 3em;
  padding-right: 3em;
}

#bands-sorted {
  padding-left: 3em;
  padding-right: 3em;
}

#band-search-genre {
  padding-left: 3em;
  padding-right: 3em;
}

#logged-in-btns {
  margin: 1em;
}

#logged-out-btns {
  margin: 1em;
}

.alert.alert-error {
  margin-left: 3em;
  margin-right: 3em;
}

.alert.alert-success {
  margin-left: 3em;
  margin-right: 3em;
}

.jumbotron {
  padding-left: 3em;
  padding-right: 3em;
  background-color: #2B2D2D;
  color: #EB6A91;
}

.navbar-brand {
  padding-bottom: 20px;
}

html
{
  height: 100%;
}

.map-container {
  border: black solid 1px;
}

.btn.btn-lg {
  background-color: #2B2D2D;
  color: white;
}

.btn.btn-lg:hover {
  color: #EB6A91;
}
.container-fluid {
  margin-left: 3em;
}

.media-resource-description {
  font-size: 25px;
}

h2.user-profile {
  font-size: 50px;
}

h3.user-profile {
  font-size: 35px;
}

p.user-data {
  font-size: 25px
}

form.button_to {
  display: inline-block;
}

input.btn.btn-default {
  display: inline-block;
}

.youtube {
  margin-top: 10em;
  margin-left: 30%;
  margin-right: 30%;
}

.image {
  margin-top: 10em;
  margin-left: 30%;
  margin-right: 30%;
}

.soundcloud {
  max-width: 600px;
  max-height: 20px;
  margin-left: 30%;
  margin-right: 30%;
}

.musician-radio-button {
  display: inline-block;
  padding: 1em;
}

.bands-radio-button {
  display: inline-block;
  padding: 1em;
}

input.btn.btn-lg { background-color: black; border: 1px solid white; color: white;}

a.btn.btn-primary{ background-color: black; color: white; border: 1px solid white; }


.alert-success {
  background-color: white;
  color: black;
  border: none;
}
