 @import "bootstrap-sprockets";
 @import "bootstrap";

.page-notice {
  background-color: gray;
  text-align: center;
}

.button {
  background-color: orange;
  padding: 1em;
  border-radius: .5em;
}

.original-homepage {
  padding-left: 3em;
  padding-right: 3em;
}

#musician-search-genre {
  padding-left: 3em;
  padding-right: 3em;
}

#musicians-instruments-search {
  padding-left: 3em;
  padding-right: 3em;
}

#musicians-location {
  padding-left: 3em;
  padding-right: 3em;
}

#bands-location {
  padding-left: 3em;
  padding-right: 3em;
}

#bands-sorted {
  padding-left: 3em;
  padding-right: 3em;
}

#band-search-genre {
  padding-left: 3em;
  padding-right: 3em;
}

#logged-in-btns {
  margin: 1em;
}

#logged-out-btns {
  margin: 1em;
}

.alert.alert-error {
  margin-left: 3em;
  margin-right: 3em;
}

.alert.alert-success {
  margin-left: 3em;
  margin-right: 3em;
}

.jumbotron {
  padding-left: 3em;
  padding-right: 3em;
  background-color: #2B2D2D;
  color: #EB6A91;
}

.navbar-brand {
  padding-bottom: 20px;
}

html
{
  height: 100%;
}

.map-container {
  border: black solid 1px;
}

.profile-document {
  padding: 2em;
}

.btn.btn-default {
  margin-left: 1.5em;
}

.btn.btn-lg {
  margin-top: 20px;
  color: #2B2D2D ;
}

.container-fluid {
  margin-left: 3em;
}

.media-resource-description {
  font-size: 25px;
}

h2.user-profile {
  font-size: 60px;
}

h3.user-profile {
  font-size: 50px;
}

