<!DOCTYPE html>
<html>
<head>
  <title>PatchCord</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<p>PatchCord</p>
<% if logged_in? %>
<a href="#"><p><!-- current_user. -->username</p></a>
<a href="#"><p>Log Out</p></a>
<% else %>
<a href="#"><p>Log In</p></a>
<a href="#"><p>Sign Up</p></a>
</header>
<%= yield %>

</body>
</html>
