<!DOCTYPE html>
<html>
<head>
  <title>PatchCord</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href="/">PatchCord</a>
    <%  #if logged_in? %>
<!-- <a href="#"><p>current_user.username</p></a>
  <a href="#"><p>Log Out</p></a> -->
  <% #else %>
  <span class="right-header"><a href="#">Log In</a></span>
  <span class="right-header"><a href="#">Sign Up</a></span>
  <% #end %>
</header>
<%= yield %>

</body>
</html>
